.is-right {
	float: right;
}

.booklist {
	list-style: none;
	flex-direction: column;
	flex-wrap: wrap;
}

.booklist li {
	margin-top: 0.5rem;
	width: auto;
	display: inline-table;
	margin-left: 3rem;
}

// .booklist li:hover {

// }